<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
      <div class="title">
        <a href="/">Portfolio</a>
      </div>
      <div class="name">
        <a href="/users/{{username}}">{{username}}</a>
      </div>
      <div class="log click">
        {{# if currentUserId}}
          <a href="/logout">Log Out</a>
        {{else}}
          <a href="/login">Log In</a>
        {{/if}}
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>

  <footer>
      <br></br>
      <small>Portfolio created by Natalie Lim</small>
      <!-- <small>© Portfolio 2018. All rights reserved.</small> -->
  <br></br>
</footer>
</html>
