<div>
  <div class="page">
    <h1>{{username}}</h1>
  </div>
  <div class="page">
    <a href="/users/{{username}}/posts/new"><button>New Post</button></a>
  </div>
  <div class="posts">
    {{#each posts as |post|}}
      <a href="/users/{{../username}}/posts/{{post.id}}">
        <div class="post">
          <img class="pic" src={{post.picUrl}}>
          <div class="overlay">
            <div class="overlay-text">
              <h1>{{post.title}}</h1>
              <p>{{post.body}}</p>
              <p>{{post.link}}</p>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>
