<div>
  <div class="page">
    <img class="prof-pic">
  </div>
  <div class="page">
    <h1>{{username}}</h1>
  </div>
  <div class="page">
    <a href="/users/{{username}}/posts/new">New Post</a>
  </div>
  <div class="posts">
    {{#each posts as |post|}}
      <div class="post">
        <a href="/users/{{../username}}/posts/{{post.id}}"><h3>{{post.title}}</h3></a>
        <p>{{post.body}}</p>
      </div>
    {{/each}}
  </div>
</div>
