<div class="flow">
  <div class="page">
    <!-- <img style="height: 100px; border-radius: 50px;" src={{user.profile}}><br></br> -->
    <a href="/users/{{username}}"><h1>{{username}}</h1></a><br></br>
    {{# if currentUserId}}
      <!-- <a href="/users/{{username}}/edit"><button>Edit Profile</button></a> -->
      <a href="/users/{{username}}/posts/new"><button class="new-button">New Post</button></a>
    {{/if}}
  </div>

  <div class="card-columns">
    {{#each posts as |post|}}
      <a href="/users/{{../username}}/posts/{{post.id}}">
        <div class="card" style="margin-top: .5em;">
          <h1 style="text-align: center; padding-top: .5em;">{{post.title}}</h1>
          <p style="text-align: center;">{{post.description}}</p>
          <img class="pic" src={{post.picUrl}}>
          <p class="card-text" style="white-space: pre">{{post.body}}</p>
          <p style="text-align: center; font-weight: bold; margin-top: -2em; margin-bottom: 2em;">{{post.link}}</p>
        </div>
      </a>
    {{/each}}
  </div>
</div>
