<div class="flow">
  <div class="page">
    <a href="/users/{{username}}"><h1>{{username}}</h1></a>
  </div>
  <div class="page">
    <a href="/users/{{username}}/posts/new"><button class="new-button">New Post</button></a>
  </div>
  <div class="posts">
    {{#each posts as |post|}}
      <a href="/users/{{../username}}/posts/{{post.id}}">
        <div class="post">
          <h1>{{post.title}}</h1>
          <img class="pic" src={{post.picUrl}} style="width:100%">
          <p>{{post.body}}</p>
          <p>{{post.link}}</p>
        </div>
      </a>
    {{/each}}
  </div>
</div>
