<div class="show-post">
  <h2>{{post.title}}</h2>
  <p>{{post.description}}</p>
  <p>{{post.body}}</p>
  <img class="show-pic" src={{post.picUrl}}>
  <a href="{{post.link}}" target="_blank" style="font-weight:bold"><p>{{post.link}}</p></a>
</div>
<a href="/users/{{username}}" class="back-btn"><button>< Back</button></a>
