<div class="show-post">
  <h2>{{post.title}}</h2>
  <p>{{post.body}}</p>

  <a href="/users/{{username}}">Cancel</a>
  <a href="/users/{{username}}/posts/{{post.id}}/edit">Edit</a>
<div>
  <a href="/users/{{username}}/posts/{{post.id}}"><-</a>
  <a href="/users/{{username}}/posts/{{post.id}}">-></a>
</div>
</div>
