<div class="show-post">
  <h2>{{post.title}}</h2>
  <p>{{post.body}}</p>
  <img class="show-pic" src={{post.picUrl}}>
  <a href={{post.link}}><p>{{post.link}}</p></a>
<a href="/users/{{username}}">Back</a><br></br>
</div>
